<ol class="resource-list resource-list-root" id="raml-console-api-reference" role="resources">
  <li role="resource-group" class="resource-list-item" ng-repeat="resourceGroup in api.resourceGroups">
    <header class="resource resource-root clearfix" ng-init="resource = resourceGroup[0]">
      <div class="resource-path-container">
        <button class="resource-root-toggle" ng-show="resourceGroup.length > 1">
          <span class="visuallyhidden">See Nested Resources</span>
        </button>

        <h2 class="resource-heading resource-heading-large">
          <span ng-repeat='segment in resource.pathSegments' class="resource-path-active">{{segment.toString()}}</span>
        </h2>

        <span ng-if='resource.resourceType' class="flag resource-heading-flag resource-heading-flag-root"><b>Type:</b> {{resource.resourceType|nameFromParameterizable}}</span>
      </div>

      <div class="tab-list">
        <a class="tab" href="#" ng-repeat="method in resource.methods">
          <svg class="tab-image tab-{{method.method}}">
            <use xlink:href="img/tab.svg#shape"></use>
          </svg>

          <span class="tab-label">{{method.method.toUpperCase()}}</span>
        </a>
      </div>

      <button class="resource-close-btn">
        Close
      </button>
    </header>

    <ol class="resource-list">
      <li class="resource-list-item" ng-repeat="resource in resourceGroup" ng-show="!$first">
        <div class="resource clearfix">
          <div class="resource-path-container">
            <h3 class="resource-heading">
              <span ng-repeat='segment in resource.pathSegments' ng-class="{'resource-path-active':$last}">{{segment.toString()}}</span>
            </h3>

            <span class="flag resource-heading-flag"><b>Type:</b> {{resource.resourceType|nameFromParameterizable}}</span>
          </div>

          <div class="tab-list">
            <a class="tab" href="#" ng-repeat="method in resource.methods">
              <svg class="tab-image tab-{{method.method}}">
                <use xlink:href="img/tab.svg#shape"></use>
              </svg>

              <span class="tab-label">{{method.method.toUpperCase()}}</span>
            </a>
          </div>

          <button class="resource-close-btn">
            Close
          </button>
        </div>
      </li>
    </ol>
  </li>
</ol>
