<ol class="resource-list resource-list-root" id="raml-console-api-reference" role="resources">
  <li role="resource-group" class="resource-list-item" ng-repeat="resourceGroup in api.resourceGroups">
    <header class="resource resource-root clearfix" ng-init="resource = resourceGroup[0]">
      <div class="resource-path-container">
        <button class="resource-root-toggle" ng-show="resourceGroup.length > 1">
          <span class="visuallyhidden">See Nested Resources</span>
        </button>

        <h2 class="resource-heading resource-heading-large">
          <span ng-repeat='segment in resource.pathSegments' class="resource-path-active">{{segment.toString()}}</span>
        </h2>

        <span ng-if='resource.resourceType' class="flag resource-heading-flag resource-heading-flag-root"><b>Type:</b> {{resource.resourceType|nameFromParameterizable}}</span>
      </div>

      <div class="tab-list">
        <a class="tab" href="#" ng-repeat="method in resource.methods" ng-click="apiResources.openDocumentation($event, method, resource)">
          <svg class="tab-image tab-{{method.method}}">
            <use xlink:href="img/tab.svg#shape"></use>
          </svg>

          <span class="tab-label">{{method.method.toUpperCase()}}</span>
        </a>
      </div>

      <button class="resource-close-btn" ng-click='apiResources.closePopover($event)'>
        Close
      </button>
    </header>

    <resource-documentation api="api" raml-console="ramlConsole"></resource-documentation>

    <ol class="resource-list">
      <resource ng-repeat="resource in resourceGroup" ng-show="!$first"></resource>
    </ol>
  </li>
</ol>
