<section class="resource-section">
  <h3 class="resource-heading-a">{{heading}}</h3>

  <div class="resource-param" ng-repeat='parameter in parameters'>
    <div ng-repeat="definition in parameter">
      <h4 class="resource-param-heading">{{definition.displayName}} <span class="resource-param-instructional">{{namedParametersDocumentation.constraints(definition)}}</span></h4>

      <span markdown="definition.description"></span>
      <div ng-if="definition.example"><span class="label">Example:</span> <code class="well" role="example">{{definition.example}}</code></div>
    </div>
  </div>
</section>
