<div class="sidebar-row" ng-repeat="(parameterName, parameter) in parameters.plain track by parameterName">
  <p class="sidebar-input-container" ng-repeat="definition in parameter.definitions" ng-show="parameter.isSelected(definition)">
    <button class="sidebar-input-reset"><span class="visuallyhidden">Reset field</span></button>
    <span class="sidebar-input-tooltip-container">
      <button class="sidebar-input-tooltip"><span class="visuallyhidden">Show documentation</span></button>
      <span class="sidebar-tooltip-flyout">
        <span>Use .json to specify application/json media type.</span>
      </span>
    </span>
    <parameter-field name='parameterName' model='repeatableModel[$index]' definition='definition' ></parameter-field>
    <parameterized-parameter parameter-name="name" parameters="parameters"></parameterized-parameter>
  </p>
</div>
