<li class="resource-list-item">
  <div class="resource clearfix">
    <div class="resource-path-container">
      <h3 class="resource-heading">
        <span ng-repeat='segment in resource.pathSegments' ng-class="{'resource-path-active':$last}">{{segment.toString()}}</span>
      </h3>

      <span class="flag resource-heading-flag"><b>Type:</b> {{resource.resourceType|nameFromParameterizable}}</span>
    </div>

    <div class="tab-list">
      <a class="tab" href="#" ng-click="resourceView.openDocumentation($event, method)" ng-repeat="method in resource.methods">
        <svg class="tab-image tab-{{method.method}}">
          <use xlink:href="img/tab.svg#shape"></use>
        </svg>

        <span class="tab-label">{{method.method.toUpperCase()}}</span>
      </a>
    </div>

    <button class="resource-close-btn">
      Close
    </button>
  </div>
  <resource-documentation api="api" raml-console="ramlConsole"></resource-documentation>
</li>
